{% extends "base.html" %} {% block title%} Django Mailer {% endblock title%}
{% block content %} 
<DIV style="padding: 20% 40% 30% 40%;margin: auto;width:100%;height:100%;text-align: center;overflow-y: hidden;">
<p style="font-weight: 700;font-size:30px">Welcome to Django Mailer</p>
<p style="font-weight: 700;font-size:25px">Try To Mail</p>
<p style="font-weight: 700;font-size:25px;">Created By Aniket</p>
<a href="/mail"><button class="btn-primary btn">Send Mail</button></a>
</DIV>
{% endblock content %}